streamlit>=1.23.1
pandas>=2.0.0
gspread>=5.7.0
google-auth>=2.15.0
google-auth-oauthlib>=0.7.0
pyasn1>=0.4.8
pyasn1-modules>=0.2.8
altair==5.5.0
attrs==25.3.0
blinker==1.9.0
cachetools==4.2.4
certifi>=2024.6.2